* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input:hover,
input:focus {
  outline: none;
}
.container {
  width: 1000px;
  height: 350px;
  margin: 130px auto;
  text-align: center;
}

.container .icons {
  width: 70%;
  height: 30%;
  margin: 40px auto 0px;
  padding-left: 75px;
}
.container .icons .menu {
  display: inline-block;
  text-align: left;
  margin: 5px 35px 0px 0px;
  padding: 10px 0px 0px;
  cursor: pointer;
}
.container .icons .menu5 img {
  margin-left: 10px;
}
.container .icons .menu a {
  text-align: center;
  display: block;
  color: black;
  font-size: 14px;
}
.container .icons .menu img:hover {
  transform: translateY(-10px);
  transition: 0.35s;
}
.container .icons .menu a:hover {
  color: red;
  transition: 0.05s;
}

.container .search {
  display: inline-block;
  width: 90%;
  height: 20%;
  margin: 25px auto 0px;
}
.container .search img {
  float: left;
}
.container .search .box input {
  width: 70%;
  height: 30px;
}

.container .search .box {
  margin-top: 10px;
  float: right;
  background-color: #f5c400;
  width: 85%;
  border-radius: 10px;
}
.container .search .box input {
  float: left;
  width: 88%;
  height: 38px;
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid #f5c400;
}
.container .search .box .key {
  display: inline-block;
  position: relative;
  left: -70px;
  top: 16px;
  opacity: 0.5;
  cursor: pointer;
}
.container .search .box .key i {
  width: 40px;
}
.container .search .box button {
  float: right;
  height: 30px;
  border-radius: 10px;
  border: 3px solid #f5c400;
  background-color: #f5c400;
  font-size: 16px;
  transform: translate(-9px, -10px);
}
