* {
    margin: 0px auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  input:focus {
    outline: none;
  }
  
  svg {
    width: 25px;
    display: block;
  }
  
  .google {
    width: 590px;
    text-align: center;
    position: relative;
    margin: 68px auto 0px;
  }
  
  .google .search input {
    display: block;
    width: 100%;
    margin: 23px 0px 30px 0px;
    border-radius: 100px;
    padding: 13px 0px 13px 45px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
  }
  
  .google .search input:hover {
    box-shadow: 0 0px 10px rgb(0 0 0 / 15%);
  }
  
  .google .search input:focus {
    box-shadow: 0 0px 10px rgb(0 0 0 / 15%);
  }
  
  .google .search i {
    display: block;
    font-size: 14px;
    position: absolute;
    top: 135px;
    left: 19px;
  }
  
  .google .search svg {
    position: absolute;
    bottom: 126px;
    right: 16px;
  }
  
  .google .btns button {
    padding: 10px 16px;
    margin: 0px 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .google .btns button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .google .language p {
    display: inline-block;
    margin-top: 30px;
    font-size: 13px;
  }
  
  .google .language a {
    text-decoration: none;
  }
  
  .google .language a:hover {
    text-decoration: underline;
  }
  
  .side-bar {
    width: 210px;
    position: absolute;
    top: 0px;
    right: -45px;
  }
  
  .side-bar svg {
    display: inline-block;
    width: 24px;
    margin-bottom: 13px;
  }
  
  .side-bar a {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
  }
  
  .side-bar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
  }