@font-face {
    font-family: "Haas Rg";
    src: url("../fonts/NHaasGroteskTXPro-55Rg.ttf");
  }
  
  @font-face {
    font-family: "Haas B";
    src: url("../fonts/NHaasGroteskTXPro-75Bd.ttf");
  }
  
  @font-face {
    font-family: "Haas Md";
    src: url("../fonts/NHaasGroteskTXPro-65Md.ttf");
  }
  
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Haas Rg";
  }
  
  body {
    background-color: gray;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  input:focus {
    outline: none;
  }
  
  .container {
    width: 85%;
    margin: auto;
  }
  
  .container-fluid {
    width: 95%;
    margin: auto;
  }
  
  .header {
    background-color: #fff;
  }
  
  .header::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .header .logo {
    width: 10%;
    float: left;
  }
  
  .header .menu {
    width: 50%;
    float: left;
  }
  
  .header .menu ul li {
    display: inline-block;
  }
  .header .menu ul {
    margin-top: 18px;
  }
  .header .menu ul li a {
    color: #6e6d7a;
    font-family: "Haas Md";
    font-size: 15px;
    display: inline-block;
    padding: 15px 10px;
  }
  
  .header .menu ul li a:hover {
    color: #ea4c89;
  }
  
  .header .auth {
    width: 40%;
    float: left;
  }
  
  .header .auth ul {
    text-align: right;
    margin-top: 18px;
  }
  
  .header .auth ul li {
    display: inline-block;
  }
  
  .header .auth ul li a {
    color: #6e6d7a;
    font-family: "Haas Md";
    font-size: 15px;
    display: inline-block;
    padding: 15px 10px;
  }
  
  .header .auth ul li:last-child a {
    background-color: #ea4c89;
    color: #fff;
    padding: 13px 20px;
    border-radius: 5px;
  }
  
  .header .auth ul li:last-child a:hover {
    background-color: #f082ac;
  }
  
  .banner {
    height: 500px;
    background-color: #f9f8fd;
    overflow: hidden;
  }
  
  .banner-rel {
    position: relative;
  }
  .banner img {
    position: absolute;
    right: -10px;
    top: -65px;
  }
  
  .banner .banner-content {
    margin-top: 100px;
  }
  
  .banner .banner-content h1 {
    font-size: 48px;
    color: #000;
    font-family: "Haas B";
    width: 70%;
  }
  
  .banner .banner-content p {
    width: 54%;
    margin: 20px 0px;
  }
  
  .banner .banner-content a {
    background-color: #ea4c89;
    color: #fff;
    padding: 13px 20px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .product {
    background-color: #fff;
    padding: 40px 0px;
  }
  
  .product::after {
    content: "";
    display: block;
    clear: both;
  }
  .product-menu {
    margin-bottom: 20px;
  }
  
  .product-menu::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .product-menu-1 {
    width: 10%;
    float: left;
  }
  
  .product-menu-1 select {
    border: 1px solid #ccc;
    padding: 10px;
    color: #6e6d7a;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-menu-1 select:hover {
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  }
  
  .product-menu-2 {
    width: 80%;
    float: left;
  }
  
  .product-menu-2 ul {
    text-align: center;
  }
  
  .product-menu-2 ul li {
    display: inline-block;
  }
  
  .product-menu-2 ul li a {
    display: inline-block;
    font-size: 15px;
    padding: 10px 10px;
    color: #6e6d7a;
  }
  
  .product-menu-3 {
    width: 10%;
    float: left;
  }
  
  .product-menu-3 a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #6e6d7a;
    font-size: 15px;
  }
  
  .product .product-gallery .product-item {
    width: 30%;
  }
  
  .product .product-gallery .product-item .product-featured {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .product .product-gallery .product-item .product-featured .hover-content {
    height: 60px;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #fff;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  }
  
  .product
    .product-gallery
    .product-item
    .product-featured
    .hover-content::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .product .product-gallery .product-item .product-featured .hover-content h4 {
    width: 70%;
    float: left;
  }
  
  .product
    .product-gallery
    .product-item
    .product-featured
    .hover-content
    .hover-btn {
    width: 30%;
    float: left;
  }
  
  .product
    .product-gallery
    .product-item
    .product-featured
    .hover-content
    .hover-btn
    a {
    color: #333;
    background-color: #fff;
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
  }
  
  .product
    .product-gallery
    .product-item
    .product-featured
    .hover-content
    .hover-btn
    a:nth-child(1) {
    margin-right: 5px;
  }
  
  .product .product-gallery .product-item .product-featured .hover-content {
    opacity: 0;
    transition: 0.4s;
  }
  
  .product .product-gallery .product-item .product-featured:hover .hover-content {
    opacity: 1;
  }
  
  .product .product-gallery {
    text-align: center;
  }
  
  .product .product-gallery .product-item {
    display: inline-block;
    margin: 10px;
  }